@use '../abstracts' as *;
@use 'sass:map';

.banner{
    position: relative;
    width: 100%;
    min-height: 620px;
    @include flex($direction: column);
    .wrap{
        flex: 1;
        padding-block: 130px 80px;
        width: 100%;
        @include flex(column, space-between, stretch);
    }
    h2{
        @include font-style($weight: 600, $size: 50px);
        color: #ffffff;
    }
    h3{
        @include font-style($weight: 600, $size: 36px, $line-height: 49px);
        color: #ffffff;
        align-self: flex-end;
        text-align: right;
    }
    strong{
        text-align: center;
    }
    img{
        position: absolute;
        top: 0;
        z-index: -10;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &.type{
        &-ask{
            min-height: unset;
            background: url($url + 'images/banner/ask.png') right/cover no-repeat;
            .wrap{
                padding-block: 160px;
            }
            .title{
                @include font-style($weight: 600, $size: 32px, $line-height: 40px, $color: #000000);
                margin-bottom: 10px;
                letter-spacing: unset;
            }
            p{
                @include font-style($weight: 400, $size: 18px, $line-height: 25px, $color: #848484);
                letter-spacing: -0.05em;
            }
            .btn{
                margin-top: 40px;
            }

            @include mobile {
                .wrap{
                    padding-block: 120px 170px;
                }
                p{
                    @include font-style($fw-4, 18px, 150%);
                    letter-spacing: -0.05em;
                }
                .title{
                    @include font-style($fw-6, 24px);
                    letter-spacing: 0;
                }
                .btn{
                    margin-top: 20px;
                }
            }
        }
        &-title{
            min-height: unset;
            margin-block: 60px 80px;
            .wrap{
                padding: unset;
                gap: 50px;
                max-width: 864px;
            }
            .title{
                @include font-style($weight: 600, $size: 46px, $line-height: 60px, $color: #343434);
            }
            p{
                @include font-style($weight: 400, $size: 24px, $line-height: 36px, $color: #292e32);
                text-align: center;
                word-break: keep-all;
            }
        }
        &-goto{
            height: 420px;
            min-height: unset;
            &::before{
                @include pseudo-element("");
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: -1;
            }
            .wrap{
                padding-block: 90px;
                align-items: center;
            }
            .title{
                @include font-style($weight: 600, $size: 46px, $color: #ffffff);
                margin-bottom: 70px;
            }
        }
    }
    &.set{
        &-bg-bottom{
            img{
                object-position: bottom;
            }
        }
    }

    @include tablet {
        min-height: min(580px, 40dvh);
        display: flex;
        .wrap{
            padding-block: 60px 50px;
            height: 100%;
            flex: 1;
        }
        img{
            // object-position: calc(100% + 270px);
        }
        h2{
            font-size: 32px;
        }
        h3{
            @include font-style($size: 20px, $line-height: normal);
        }

        &.type{
            &-title{
                margin-block: 60px;
                .wrap{
                    padding-inline: 20px;
                    gap: 40px;
                    .title{
                        @include font-style($weight: 600, $size: 24px, $line-height: 150%);
                        text-align: left;
                    }
                    p{
                        @include font-style($weight: 400, $size: 16px, $line-height: 150%);
                        text-align: left;
                    }
                }
            }
            &-goto{
                .wrap{
                    justify-content: center;
                }
                .title{
                    font-size: 24px;
                    margin-bottom: 50px;
                }
                img{
                    object-position: center;
                }
            }
        }
    }
}