@use '../abstracts' as *;
@use 'sass:map';

.banner{
    position: relative;
    width: 100%;
    height: 620px;
    .content-text{
        padding-block: 130px 80px;
        height: inherit;
    }
    .wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    h2{
        font: 700 50px/normal $font;
        color: #ffffff;
    }
    h3{
        font: 700 36px/49px $font;
        color: #ffffff;
        align-self: flex-end;
        text-align: right;
    }
    img{
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: inherit;
        object-fit: cover;
    }
}