@use '../abstracts' as *;
@use 'sass:map';

footer{
    background-color: #F7F6F8;
    padding-block: 80px;
    a[class*=logo]{
        display: block;
        font-size: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .logo-jon{
        width: 140px;
    }
    .logo-inobiz{
        height: 50px;
    }
    .gnb{
        margin-bottom: 10px;
    }

    .wrap{
        display: flex;
        padding-inline: unset;
        &-text{
            display: flex;
            flex-direction: column;
            gap: 4.5px;
            margin-inline: 40px auto;
            font: 400 14px/normal $font;
            color: #909090;
        }
    }
}