@use '../abstracts' as *;
@use 'sass:map';

.gnb{
    display: flex;
    height: fit-content;
    margin-inline: auto 100px;
    gap: 30px;
    li{
        position: relative;
        display: inline;
        font: 600 14px/normal $font;
        color: #666666;
        white-space: nowrap;
        &:hover{
            color: #000000;
            opacity: unset;
        }
        &.active{
            color: #000000;
        }
    }
    a{
        color: inherit;
        position: relative;
        &::after{
            // 사용성 개선을 위한 가상요소
            content: "";
            position: absolute;
            top: -27px;
            left: -15px;
            width: calc(100% + 30px);
            height: calc(100% + 54px);
        }
    }

    footer &{
        li{
            font: 400 14px/normal $font;
            color: #909090;
            & + li{
                &::before{
                    content: "";
                    position: absolute;
                    left: -17px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 11px;
                    background-color: #dadada;
                }
            }
        }

        @include tablet {
            flex-direction: column;
            gap: 16px;
            margin-bottom: 40px;
            li{
                & + li::before{
                    content: unset;
                }
                a{
                    display: block;
                    &::after{
                        top: -8px;
                        left: 0;
                        width: 100%;
                        height: calc(100% + 16px);
                    }
                }
            }
        }
    }
}