@use '../abstracts' as *;
@use 'sass:map';

header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
    @include flex(column, center, stretch);
    z-index: 100;

    @include transition(all, .2s);
    &.open{
        height: 100dvh;
        background-color: #000000;
        border-color: #444444;
        .menu{
            .btn{
                color: #ffffff;
                background-image: url($url + 'icons/26/ic-xmark.svg');
            }
        }
        h1 img{
            filter: invert(100%);
        }
    }


    img{
        display: block;
    }

    .wrap{
        padding-block: 26px;
        width: 100%;
        @include flex($justify: space-between, $align: center);
    }
    
    .menu{
        position: relative;
        z-index: 1;
        @include flex($align: center, $gap: 100px);
        margin-left: auto;
        &.mobile{
            display: none;
        }
    }

    .i18n{
        display: flex;
        height: fit-content;
        li{
            display: inline;
            @include font-style($weight: 600, $size: 14px);
            color: #cccccc;
            &.active{
                color: #333333;
            }
            & + li{
                position: relative;
                margin-left: 24px;
                &:before{
                    @include pseudo-element("");
                    @include absolute-position(left, -14px, top, 50%);
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: #cccccc;
                    transform: translateY(-50%);
                }
            }
        }
        button{
            @include font-style($weight: 600, $size: 14px);
            color: inherit;
        }
    }

    @include tablet {
        .menu{
            &.pc{
                display: none;
            }
            &.mobile{
                display: flex;
            }
        }
    }
}

.full-screen-menu{
    overflow: hidden;
    height: 0;
    width: 100%;

    .wrap{
        background-color: #000;
        padding-inline: 30px;
        padding-block: 60px;
        height: 100%;
        @include flex($direction: column, $justify: space-between);
    }
    ul:not(.i18n){
        width: 100%;
        li{
            @include font-style($fw-4, 25px, $color: #ffffff);
            position: relative;
            text-align: right;
            opacity: 0.5;
            & + li{
                margin-top: 30px;
            }
            &.active{
                opacity: 1;
                &::after{
                    @include pseudo-element("");
                    @include absolute-position(right, -30px, top, 50%);
                    width: 3px;
                    height: 20px;
                    background-color: #ffffff;
                    transform: translateY(-50%);
                    @include transition(all, .2s);
                }
            }
            a{
                color: inherit;
            }
        }
    }
    .i18n{
        li{
            color: #444444;
            &.active{
                color: #cccccc;
            }
        }
    }
    .open &{
        height: 100%;
        // height: calc(100dvh - $header-height);
    }
}