@use '../abstracts' as *;
@use 'sass:map';

header{
    position: sticky;
    top: 0;
    width: 100%;
    padding-block: 27px;
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
    z-index: 10;

    .wrap{
        display: flex;
        align-items: center;
    }

    .i18n{
        display: flex;
        height: fit-content;
        li{
            display: inline;
            font: 600 14px/normal $font;
            color: #cccccc;
            &.active{
                color: #333333;
            }
            & + li{
                position: relative;
                margin-left: 24px;
                &:before{
                    content: "";
                    position: absolute;
                    left: -14px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: #cccccc;
                }
            }
        }
        button{
            color: inherit;
            font: 600 14px/normal $font;
        }
    }

    @include tablet {
        // display: none;
    }
}