// 유틸 폴더에서 필요한 것들 import
@use './abstracts' as *;

// 레이아웃 import
@use './layout';
@use './component';


.wrap{
    max-width: 1100px;
    padding-inline: 20px;
    margin: auto;
    &.not-padding{
        padding-inline: unset;
    }
    &.full{
        max-width: 1920px;
    }
}

.badge{
    display: inline-block;
    font: 600 18px/30px $font;
    border-radius: 4px;
    background-color: #EEF5FE;
    color: #1E6DFE;
    padding-inline: 10px;
}

.slick{
    &-list{
        cursor: ew-resize;
    }
    &-slide{
        margin-inline: 20px;
    }
    &-dots{
        display: flex;
        justify-content: center;
        gap: 6px;
        & li{
            position: relative;
            width: 8px;
            height: 8px;
            background-color: #7c7c7c;
            border-radius: 50%;
            opacity: .35;
            cursor: pointer;
            &.slick-active{
                opacity: 1;
            }
            &::after{
                // 사용성 개선을 위한 가상요소
                content: "";
                position: absolute;
                top: -100%;
                left: -50%;
                width: 200%;
                height: 300%;
            }
            button{
                display: none;
            }
        }
    }
}

// about 페이지
.summary{
    position: relative;
    margin-top: 60px;
    padding-bottom: 80px;
    background: url($url + 'images/summary/background.png') right bottom / 800px no-repeat;
    ul{ 
        display: flex;
        justify-content: flex-end;
        gap: 60px;
        .content{
            margin-top: 25px;
            text-align: center;
        }
        .title{
            font: 600 18px/normal $font;
            color: #979797;
            margin-block: 8px 12px;
        }
        .dscpt{
            font: 600 36px/normal $font;
            color: #000000;
        }
        .eyebrow{
            font: 400 14px/normal $font;
            color: #979797;
        }
    }
    img{
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
}

.awards{
    padding-block: 80px;
    background-color: #FBFBFB;
    .slick{
        &-list{
            margin-bottom: 20px;
        }
    }
    p{
        font: 400 30px/normal $font;
        color: #000000;
        text-align: center;
        &.title{
            font-weight: 700;
        }
    }
    .list-awards{
        $item-width: 1100px;
        $item-height: 460px;
        $item-radius: 20px;
        $item-padding: 40px 56px;
        
        $thumb-bg: (
            'item-01': (#FFED71, '../icons/380/tcb.png', #FFED71),
            'item-02': (#B0E0FB, '../icons/380/copyright.png', #B0E0FB),
            'item-03': (#FF8372, '../icons/380/webawards.png', #FF8372),
            'item-04': (#8EAFF6, '../icons/380/venture.png', #8EAFF6),
        );
        margin-top: 40px;

        @mixin thumb-bg($color, $img, $grad) {
            background: #{$color} url(#{$img}) 90px 150px / 370px no-repeat;
            &::after {
                content: "";
                position: absolute;
                bottom: 0; left: 0;
                width: 100%; height: 100%;
                background: linear-gradient(180deg, rgba($grad, 0) 86.85%, rgba($grad, 0.5) 100%);
            }
        }

        .item {
            position: relative;
            border-radius: $item-radius;
            width: $item-width;
            height: $item-height;
            padding: $item-padding;
            overflow: hidden;

            img {
                width: 220px;
            }
            p {
                font: 600 24px/140% $font;
                text-align: left;
            }
            .thumbnail {
                position: absolute;
                display: flex;
                gap: 10px;
                right: 56px;
                bottom: -30px;
            }

            // 각 item별 배경/그라디언트 반복
            @each $name, $val in $thumb-bg {
                &.#{$name} {
                    @include thumb-bg(nth($val, 1), nth($val, 2), nth($val, 3));
                }
            }
        }
    }
}

.feature{
    $shadow: 0px 10px 80px 90px;
    margin-block: 60px 80px;
    .list-feature{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .item {
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            height: 470px;
            background: url($url + "images/feature/feature-01.png") center/cover no-repeat;
            cursor: pointer;

            &-02{
                background-image: url($url + "images/feature/feature-02.png");
                .front{
                    background-color: #C8C5B9;
                    box-shadow: $shadow #C8C5B9;
                }
                .back a{
                    color: #FFE6CD;
                    &::after{
                        border-color: #FFE6CD;
                    }
                }
            }

            &-03{
                background-image: url($url + "images/feature/feature-03.png");
                .front{
                    background-color: #46628A;
                    box-shadow: $shadow #46628A;
                }
                .back a{
                    color: #60FFF5;
                    &::after{
                        border-color: #60fff5;
                    }
                }
            }
            &:hover{
                .back{
                    opacity: 1;
                }
            }
        }
    }

    .front{
        position: relative;
        padding: 40px 32px 0;
        width: 100%;
        background-color: #A2CCFF;
        box-shadow: $shadow #A2CCFF;
        .title{
            font: 600 24px/normal $font;
            color: #ffffff;
        }
        &::after{
            content: "";
            position: absolute;
            left: 32px;
            bottom: -42px;
            width: 26px;
            height: 26px;
            background: url($url + 'icons/26/ic-circle-arrow.svg') left bottom / 26px no-repeat;
        }
    }

    .back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(27px);
        padding: 30px 20px 20px;
        opacity: 0;
        transition: .2s;
        ul{
            margin-bottom: 12px;
        }
        li{
            position: relative;
            font: 600 16px/21px $font;
            color: #ffffff;
            margin-bottom: 14px;
            padding-left: 24px;
            &::before{
                content: "";
                position: absolute;
                top: 8.5px;
                left: 10px;
                width: 4px;
                height: 4px;
                background-color: #ffffff;
                border-radius: 50%;
            }
        }
        a{
            position: relative;
            align-self: flex-start;
            font: 800 14px/normal $font;
            color: #5FA9FF;
            margin-left: 10px;
            transition: .2s;
            &::after{
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border: 0 solid #5fa9ff;
                border-width: 2px 2px 0 0;
                transform: translateY(-50%) rotate(45deg);
                top: 50%;
                right: -16px;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

// business 패아자
.solution{
    margin-block: 60px 80px;
    .slick{
        &-list{
            padding-block: 10px 30px !important;
            margin-top: -10px;
        }
    }
    .item{
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
        width: 380px;
        overflow: hidden;
        cursor: pointer;
    }
    .thumbnail{
        position: relative;
        height: 320px;
        img{
            width: 100%;
            height: inherit;
            object-fit: cover;
        }
        .dim{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(38, 38, 38, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%), rgba(102, 102, 102, 0.20);
            padding: 30px;
            p{
                font: 600 20px/normal $font;
                color: #eeeeee;
                &.title{
                    font: {
                        weight: 700;
                        size: 30px;
                    }
                    margin-bottom: 7px;
                }
            }
        }
    }
    .content{
        padding: 20px;
        p{
            font: 400 20px/150% $font;
            color: #000000;
            margin-top: 8px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        a{
            font: 600 16px/normal $font;
            color: #555555;
            margin-top: 20px;
            display: flex;
            gap: 4px;
            &::after{
                content: "";
                width: 20px;
                height: 20px;
                background: url($url+"icons/20/ic-arrow-right.svg") center/20px no-repeat;
            }
        }
    }
}

.success{
    background-color: #333333;
    padding-block: 120px;

    h3{
        font: 600 32px/40px $font;
        color: #ffffff;
    }
    .list-case{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 30px;
    }
    .item{
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        .title{
            font: 600 24px/normal $font;
            color: #ffffff;
        }
        .dscpt{
            font: 600 18px/26px $font;
            color: rgba(255, 255, 255, .8);
            margin-top: 24px;
            li::before{
                content: "#";
            }
        }
    }
    .content{
        position: absolute;
        padding: 30px 20px 20px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        &::after{
            content: "";
            display: block;
            margin-top: auto;
            width: 26px;
            height: 26px;
            background: url($url + "icons/26/ic-circle-arrow.svg") center/26px no-repeat;
        }
    }
    img{
        width: 100%;
    }
}

// contact us 페이지
.navigator{
    margin-block: 80px;

    h2{
        font: 600 42px/52px $font;
        color: #000000;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
    .tab{
        margin-bottom: 50px;
        ul{
            display: flex;
            gap: 80px;
            margin: 80px auto 0;
            justify-content: center;
            li{
                font: 600 20px/normal $font;
                color: #000000;
                padding-inline: 4px;
                padding-bottom: 14px;
                opacity: 0.3;
                &.active{
                    opacity: unset;
                    box-shadow: inset 0px -2px 0 0px #000000;
                }
                a{
                    color: inherit;
                }
            }
        }
        &-content{
            a{
                color: inherit;
                text-decoration: underline;
            }
        }
    }
    .contact{
        .info{
            display: grid;
            grid-template-columns: 
            repeat(3, 1fr);
            gap: 90px;
            dt{
                font: 600 19px/27px $font;
                color: #b3b3b3;
                margin-bottom: 25px;
            }
            dd{
                font: 400 16px/22px $font;
                color: #000000;
                margin-top: 14px;
                strong{
                    font-weight: 700;
                }
                a{
                    margin-left: 36px;
                }
            }
        }
        .list-map{
            display: flex;
            margin-top: 58px;
            .item{
                flex: 1;
            }
            ul{
                margin: 22px 0 0 95px;
                font: 400 16px/22px $font;
                color: #000000;
                strong{
                    font-weight: 700;
                }
                li + li{
                    margin-top: 8px;
                }
            }

            // 지도 커스텀
            .root_daum_roughmap{
                position: relative;
                width: 100%;
                .wrap_map{
                    height: 330px;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .1);
                    z-index: 10;
                    transition: .2s;
                }
                &:hover{
                    &::after{
                        background-color: unset;
                        z-index: 0;
                    }
                }
                div:has(> div > img[src*=marker]){
                    position: relative;
                    .roughmap_maker_label:after{
                        content: "";
                        width: 45px;
                        height: 50px;
                        background: url($url + 'icons/marker.svg') center/cover no-repeat;
                        transform: translate(-15px, 50px);
                        z-index: -1;
                    }
                    a{
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        transform: translate(-50%, -10%);
                    }
                    span,
                    img{
                        display: none !important;
                    }
                }
                .wrap_controllers,
                .map_border,
                .wrap_btn_zoom{
                    display: none;
                }
            }
        }
    }
    .recruit{
        .info{
            dl{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                font: 400 19px/27px $font;
                color: #000000;
                margin-bottom: 40px;
            }
            p{
                font: 400 14px/24px $font;
                color: #333333;
                strong{
                    font-weight: 600;
                }
                span{
                    margin-inline: 10px;
                }
            }
        }
    }
}

.philosophy{
    margin-block: 210px 48px;
    h3{
        font: 600 25px/normal $font;
        color: #000000;
    }
    .list-philosophy{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 36px;
        margin-top: 8px;
        img{
            width: 100%;
            height: 310px;
            object-fit: cover;
        }
        .content{
            margin-top: 30px;
            padding-inline: 6px;
            p{
                font: 400 14px/normal $font;
                color: #9b9b9b;
            }
            dt{
                font: 600 24px/normal $font;
                color: #000000;
                margin-top: 16px;
            }
            dd{
                font: 300 16px/27px $font;
                color: #383838;
                margin-top: 7px;
            }
        }
    }
}